<div class="main-container">
        
            <section class="cover fullscreen image-bg overlay">
                <div class="background-image-holder">
                    <img alt="image" class="background-image" src="/assets/home2.jpg" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                            <div class="feature bordered text-center">
                                <h4 class="uppercase">Register Here</h4>                               
                                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :class=>'text-left', :role => 'form'}) do |f| %>
                                    <%= f.text_field :name ,:placeholder=>"Full Name" %>
                                    <%= f.text_field :email, :placeholder=>"Email Address" %>
                                    <%= f.password_field :password, placeholder: 'Password' %>
                                    <%= f.password_field :password_confirmation, placeholder: 'Confirm Password' %>
                                    <input type="submit" value="Register" />
                                <%end%>
                                <p class="mb0">By signing up, you agree to our
                                    <a href="#">Terms Of Use</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
</div>