        <div class="main-container">
            <section class="pt160 pb160 image-bg overlay">
                <div class="background-image-holder">
                    <img alt="Background" class="background-image" src="assets/sawa1.jpg" />
                </div>
                <div class="container">
                    <div class="row v-align-children">
                        <div class="col-sm-12 mb-xs-80">
                            <%=t('bridging_divide').html_safe%>
                            <a class="btn btn-filled btn-lg mb0" href="/about">Learn More</a>
                        </div>
                        
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="uppercase color-primary mb40 mb-xs-24">The Village Code Vision</h3>
                            <h4><%=t('vision')%></h4>
                        </div>
                    
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="uppercase text-left color-primary mb40 mb-xs-24">Upcoming Events</h3>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="tabbed-content button-tabs">
                                    <ul class="tabs fourths mb64 mb-xs-24">
                                        <%Event::EVENT_CATEGORIES.each do |category| %>
                                            <%if category==Event::EVENT_CATEGORIES.first %>
                                                <li class="active">
                                            <%else%>
                                                <li>
                                            <%end%>
                                                <div class="tab-title">
                                                    <span><%=category%></span>
                                                </div>
                                                <div class="tab-content text-left">
                                                    <% get_events_in_category(category).each do |event| %>
                                                        <div>
                                                            <div class="overflow-hidden">
                                                                <img alt="Pic" class="mb24 pull-left" src="assets/avatar<%=event.id%>.png" />
                                                                <div class="pull-left p32 p0-xs pt24">
                                                                    <h6 class="uppercase mb8 number"><%=event.event_time%></h6>
                                                                    <h4><%=event.event_name%></br> 12/09/2015</h4>
                                                                </div>
                                                            </div>          
                                                            <p>
                                                                <%=event.event_desc %>
                                                            </p>
                                                            <% if can? :update, Event %>
                                                            <%=link_to "Edit Event" ,edit_event_path(event),:class=>"btn btn-sm"%>
                                                            <%end%>
                                                            <%=link_to "Register",new_event_event_attendant_path(event),:class=>"btn btn-sm"%>
                                                            <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                                        </div>
                                                    <%end%>
                                                </div>
                                            </li>
                                        <%end%>
                                    </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    
                    </div>
                    <!--end of row-->
                     <div class="row text-center text-left-xs">
                        <% if can? :create, Event %>
                        <a class="btn btn-lg" href="#">New Event</a>
                        <%end%>
                        <a class="btn btn-lg" href="#">View All</a>
                    </div>
                </div>
                <!--end of container-->
            </section>       
            <section class="bg-secondary">
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-sm-12 text-left">
                            <h3 class="uppercase">OUR AWESOME TEAM</h3>
                            <p class="lead"><%=t('team')%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row mb64 mb-xs-24">
                        <div class="col-md-12 p0">
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/james.jpg" />
                                <h5 class="mb0">Odede James</h5>
                                <h6 class="uppercase">CEO @ MOBIDAWA</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/chandi.jpg" />
                                <h5 class="mb0">Chandi Tome</h5>
                                <h6 class="uppercase">Designer @ LAKEHUB</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/finale.jpg" />
                                <h5 class="mb0">Chris Odhiambo</h5>
                                <h6 class="uppercase">DESIGNER @ LAKEHUB</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/winnie.jpg" />
                                <h5 class="mb0">Winnie Rabera</h5>
                                <h6 class="uppercase">DEVELOPER @ WTM</h6>
                            </div>
                        </div>
                        <div class="col-md-12 p0">
                             <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/mike.jpg" />
                                <h5 class="mb0">Mike Otieno</h5>
                                <h6 class="uppercase">CEO @ TULASOFTCREATIVE</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/sigu.jpg" />
                                <h5 class="mb0">Sigu Magwa</h5>
                                <h6 class="uppercase">DEVELOPER @ EKODI</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/percy.jpg" />
                                <h5 class="mb0">Percy Njira</h5>
                                <h6 class="uppercase">DEVELOPER @ WTM</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/dorothy.jpg" />
                                <h5 class="mb0">Dorothy O</h5>
                                <h6 class="uppercase">DEVELOPER @ WTM</h6>
                            </div>
                           
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                         <div class="col-md-12 text-center text-left-xs">
                        <a class="btn btn-lg" href="/volunteer">Volunteer</a>
                    </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
             <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h3 class="uppercase mb16">Our Partners</h3>
                            <p class="lead mb64">
                                <%=t('partners')%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides center">
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l1.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l5.png" />
                                    </a>
                                </li> 
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l3.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l4.png" />
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l1.png" />
                                    </a>
                                </li> 
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l2.png" />
                                    </a>
                                </li> -->
                                <!-- <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l3.png" />
                                    </a>
                                </li> --><!-- 
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l4.png" />
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="overlay fullscreen parallax image-bg pt0 pb0">
                <div class="background-image-holder">
                    <img alt="Background" class="background-image" src="assets/mtoi.jpg" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-8 text-left">
                            <h2><%=t('belief')%></h2>
                            <h4 class="pb48 pb-xs-24">Join us in this brave new world</h4>
                            <a class="btn btn-lg" href="/sponsor">Get Involved</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>  
        </div>
       <!--  <div class="foundry_modal text-left image-bg overlay" data-cookie="signup-form-dismissed" data-time-delay="3000">
      <div class="background-image-holder">
        <img alt="Background" class="background-image" src="assets/africacode.jpg" />
      </div>
      <h3 class="uppercase bold">Get Free introduction<br /> to programming training</h3>
      <p class="lead mb48">
      VillageCode in collaboration with Lakehub and Africa Code Week is hosting a free introduction to programming class.
      </p>
      <h3 class="uppercase bold">10-10-2015<br /> Venue:Lakehub</h3>
      <a class="btn btn-filled btn-lg mb0" href="#">Register Now</a>
    </div> -->