<% content_for :title do %>
  <%=@title%>
<% end %>

        <div class="main-container">
        <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="assets/kids.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="uppercase mb8">Volunteer</h2>
                            <p class="lead mb0">Our volunteers make what we do possible</p>
                        </div>
                      
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
           
            <section class="bg-secondary">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <h4 class="uppercase color-primary">Get involved as a volunteer with VillageCode</h4>
                            <p>
                                There are many skills at several levels of commitment needed immediately. From a one-time, three-hour show up and help out at an event, to a six-month-long mentoring position that will change the life of a youth in our community.  If you do not find an area below that fits your skills and/or interest, fill out a volunteer form anyway, and let us know what you want to do to help. 
                            </p>
                        </div>
                        <div class="col-md-7 col-md-offset-1">
                            <%=form_for(@volunteer,:html => { :role => 'form',:class=>"text-left form"}) do |form| %>
                                <div class="overflow-hidden">
                                    <h6 class="uppercase">
                                    1. In which area would you like to volunteer?
                                    </h6>
                                    <%Volunteer::VOLUNTEER_AREAS.each do|area|%>
                                    <div class="col-sm-3">
                                        <p class="mb16">
                                            <%=area%>
                                        </p>
                                        <div class="checkbox-option text-left">
                                            <div class="inner"></div>
                                              <input type="check_box" name="volunteer[area]" id="volunteer_area_<%=area.downcase%>" value="<%=area%>" />
                                        </div>
                                    </div>
                                    <%end%>
                                    <hr>
                                </div>
                                <div class="overflow-hidden">
                                    <h6 class="uppercase">
                                    2. How would you like to be engaged?
                                    </h6>
                                    <div class="col-sm-4">
                                        <p>Specific Event</p>
                                        <div class="radio-option">
                                            <div class="inner"></div>
                                            <input type="radio" name="volunteer[engagement]" value="specific_event" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>Part Time</p>
                                        <div class="radio-option">
                                            <div class="inner"></div>
                                            <input type="radio" name="volunteer[engagement]" value="part_time" />
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <p>Full Time</p>
                                        <div class="radio-option">
                                            <div class="inner"></div>
                                            <input type="radio" name="volunteer[engagement]" value="full_time" />
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                                <div class="overflow-hidden">
                                    <h6 class="uppercase">
                                    3. Your personal details
                                    </h6>
                                    <input type="text" name="volunteer[name]" class="col-md-6 validate-required" placeholder="Your Name*" />
                                    <input type="text" name="volunteer[email]" class="col-md-6 validate-required validate-email" placeholder="Your Email Address*" />
                                    <textarea name="volunteer[additional_comments]" placeholder="Additional comments" rows="2"></textarea>
                                    <hr>
                                </div>
                                <div class="overflow-hidden">
                                    <div>
                                        <h6 class="uppercase">
                                        4. Lastly, how did you hear of us?
                                        </h6>
                                        <div class="select-option">
                                            <i class="ti-angle-down"></i>
                                            <select name="volunteer[referrer]">
                                                <option selected value="Default">Select An Option</option>
                                                <option value="google">Google</option>
                                                <option value="website">Our Website</option>
                                                <option value="friend">A Friend</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>
                                        <input type="submit" value="Submit" />
                                    </div>
                                </div>
                            <%end%>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
           
